/* General Styles */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.container {
  text-align: center;
  max-width: 800px;
  padding: 20px;
  background-color: #00529b;
  /* UF Blue */
  color: #ffc20e;
  /* UF Orange for text */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

h1 {
  color: #ffc20e;
}

.instructions {
  background-color: #f57c00;
  /* A darker shade of orange for contrast */
  color: #ffffff;
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
}

select,
button {
  padding: 10px 15px;
  margin-top: 20px;
  border: 1px solid #ffc20e;
  background-color: #007fff;
  /* A lighter shade of blue for elements */
  color: #ffffff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button {
  background-color: #ffc20e;
  /* Orange button */
  color: #00529b;
  /* Blue text */
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #f57c00;
  /* A darker shade of orange */
  color: #ffffff;
}

a {
  color: #00529b;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.footer {
  margin-top: auto;
  /* Pushes the footer to the bottom */
  background-color: #00529b;
  /* UF Blue */
  color: #ffc20e;
  /* UF Orange for text */
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  /* position: absolute;
  bottom: 0; */
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer-logo {
  margin-right: 20px;
  width: 60px;
  /* Adjust based on your logo's size */
}

.main_container {
  display: flex;
  min-height: 100vh;
}

.main_container .left-bar {
  text-align: left;
  background-color: rgba(246, 246, 246, 0.403);
  width: 300px;
  max-height: 100vh;
  overflow: scroll;
  padding: 20px;
}

.main_container .main {
  flex: 3;
  padding: 5%;
}

.main_container .side_bar {
  background-color: rgba(246, 246, 246, 0.403);
  flex: 1;
  max-height: 100vh;
  overflow: scroll;
  padding: 10px;
  /* padding-bottom: 50px; */
}

.question_box {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 5%;
}
.question {
  text-align: left;
}

.input_box {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 5px;
  padding: 10px;
  gap: 10px;
}
.btn_container {
  display: flex;
  justify-content: space-between;
}

.text_box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;
}
